<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../ModuloEventos/css/eventosDia.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Eventos del dia</title>
</head>
<body>
    <!--Area de trabajo-->
    <main class="workspace">
        <div class="top">
            <button class="button" onclick="history.back()"><span class="material-icons back">arrow_back</span></button>
            <h1 class="titleModule">Eventos del dia</h1>
        </div>
            <header classs="enunciado_calendario">
                <h2>Miercoles 14 de enero</h2>
            </header>
            <div class="seccion">
                <ol>
                    <li class="border">1:00 Am</li>
                    <li class="contenedor borderuno"></li>
                    <li>2:00 Am</li>
                    <li class="contenedor"></li>
                    <li>3:00 Am</li>
                    <li class="contenedor"></li>
                    <li>4:00 Am</li>
                    <li class="contenedor"></li>
                    <li>5:00 Am</li>
                    <li class="contenedor"></li>
                    <li>6:00 Am</li>
                    <li class="contenedor"></li>
                    <li>7:00 Am</li>
                    <li class="contenedor"></li>
                    <li>8:00 Am</li>
                    <li class="contenedor"></li>
                    <li>9:00 Am</li>
                    <li class="contenedor"></li>
                    <li>10:00 Am</li>
                    <li class="contenedor"><a href="visualizarEvento.html" class="evento_dia">Reunion de formalización de contrato (10:00 - 11:00 am)</a></li>
                    <li>11:00 Am</li>
                    <li class="contenedor"></li>
                    <li>12:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>1:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>2:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>3:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>4:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>5:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>6:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>7:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>8:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>9:00 Pm</li>
                    <li class="contenedor"></li>
                    <li>10:00 Pm</li>
                    <li class="contenedor"></li>
                    <li class="borderdos">11:00 Pm</li>
                    <li class="contenedor bordertres"></li>
                </ol>
            </div>
            
    </main>
</body>
</html>